<div class="d-flex flex-column justify-content-center mt-3">
  <h2 class="">Countries App</h2>

  <hr />

  <h5 class="mt-3">
    App desarrollada en Angular como práctica para el itinerario formativo para
    Front-End
  </h5>

  <p class="m-2">Los datos son proporcionados por la API de https://restcountries.com </p>

  <img
    src="https://angular.io/assets/images/logos/angular/angular.png"
    alt="angular logo"
    class="rounded mx-auto d-block"
  />

  <h5 class="mt-3">
    Para comenzar, pulse cualquiera de los botones en la barra lateral
  </h5>
</div>
